# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.venv/
venv/
.env/
env/

# Poetry
.venv/
dist/

# Docker
Dockerfile
.dockerignore

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
